
<title>新闻中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body class="body_article">

<div id="top">
<script>

    window.onload = function (){

    var oWin = document.getElementById("window");

    var oLay = document.getElementById("overlay");

    var oBtn = document.getElementById("popmenu");

    var oClose = document.getElementById("close");

    oBtn.onclick = function (){oLay.style.display = "block";oWin.style.display = "block"	};

    oLay.onclick = function (){oLay.style.display = "none";oWin.style.display = "none"	}

};

</script>
  <div style="margin-bottom:55px;">
    <div id="toolbar">
      <div class="fixed-brown">
        <a class="ui-title" id="popmenu">新闻中心</a>
        <a class="ui-btn-back" href="javascript:history.go(-1)" data-no-turbolink="true"></a>
        <a class="ui-btn-home" href="/sides"  data-no-turbolink="true"></a>
      </div>
    </div>
    <div id="overlay"></div>
    <div id="window">
      <ul class="windowlist">
        <li>
          <a  href="/sides?keywords=abouts" data-no-turbolink="true"><span>关于我们</span></a>
        </li>
        <li>
          <a  href="/sides?keywords=products" data-no-turbolink="true"><span>产品中心</span></a>
        </li>
        <li>
          <a  href="/sides?keywords=news" data-no-turbolink="true"><span>新闻资讯</span></a>
        </li>
        <li>
          <a  href="/sides?keywords=contacts" data-no-turbolink="true"><span>联系我们</span></a>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </div><!--频道导航 结束-->
</div><!--顶部结束-->
<div  id="content">
  <div class="article">
    <!-- 30文章模型  31图片模型  32单页模型  33	链接模型  34视频模型   35下载模型  36产品模型--><!--频道样式微信样式  0默认, 1图文,  2文字,  3橱窗,   4相册--><!-- 文章模型--><!-- 文本样式 列表开始-->
    <ul class="textlist">
      <% @sidecontents.each do |sidecontent| %>
          <li><a href="/sides/<%=sidecontent.id%>?cla=new" data-no-turbolink="true"><p><%=sidecontent.title%><span class="arrow"></span></p></a></li>
      <%end%>
      <li>
        <div class="page">
          <%= will_paginate @sidecontents, :previous_label => '上一页', :next_label => '下一页' ,'data-no-turbolink'=>true%>
        </div>
      </li>
    </ul>
    <div class="page"></div>
    <!-- 文本样式 列表开始--><div class="clear"></div>
    <div class="clear"></div>
  </div>
</div><!--页脚开始-->
<div><ul class="wxlist"><a  href="#top"><li><div  class="GoTop"><%=image_tag("images/top.png")%>回顶部</div></li></a></ul></div></div>
</body>


