

<title>关于我们</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<body class="body_single">
<!--顶部开始-->
<div id="top">
    <!--频道导航 开始-->
    <script>        window.onload = function (){

    var oWin = document.getElementById("window");

    var oLay = document.getElementById("overlay");

    var oBtn = document.getElementById("popmenu");

    var oClose = document.getElementById("close");

    oBtn.onclick = function (){oLay.style.display = "block";oWin.style.display = "block"	};

    oLay.onclick = function (){oLay.style.display = "none";oWin.style.display = "none"	}

};

</script>
    <div style="margin-bottom:55px;">
        <div id="toolbar">
            <div class="fixed-brown">
                <a class="ui-title" id="popmenu">关于我们</a>
                <a class="ui-btn-back" href="javascript:history.go(-1)" data-no-turbolink="true"></a>
                <a class="ui-btn-home" href="/sides"  data-no-turbolink="true"></a>
            </div>
        </div>
        <div id="overlay"></div>
        <div id="window">
            <ul class="windowlist">
                <li>
                    <a  href="/sides?keywords=abouts" data-no-turbolink="true"><span>关于我们</span></a>
                </li>
                <li>
                    <a  href="/sides?keywords=products" data-no-turbolink="true"><span>产品中心</span></a>
                </li>
                <li>
                    <a  href="/sides?keywords=news" data-no-turbolink="true"><span>新闻资讯</span></a>
                </li>
                <li>
                    <a  href="/sides?keywords=contacts" data-no-turbolink="true"><span>联系我们</span></a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div><!--频道导航 结束-->
</div>
<!--顶部结束-->
<div  id="content">
    <div  class="single">
        <ul class="wxlist">
            <li>
                <div class="ChannelName"><h1>公司简介</h1></div>
                <div class="ChannelContent">
                    <p>

    　　某某刺绣公司是一家集研发、设计、生产、销售于一体的专业厂家，是由刺绣行业顶尖高手团队组建而成。本公司经营湘绣、蜀绣等。本公司秉承&ldquo;顾客至上，诚信经营&rdquo;的理念，坚持&ldquo;客户第一&rdquo;的原则为广大客户提供优质的服务。<br />

    　　为了传承东方文明，再现丝绸繁华，刺绣传承、保护两千多年的锦帛传统织造技艺，致力于丝绸、织锦的研究、古蜀锦纹样的复制，现代蜀锦装饰和实用功能的开发，以及历代蜀锦精典纹样的限量织造。<br />

    　　对于这份千年传承下来的文化遗产，我们不但要传承保护，更要振兴发展蜀锦蜀绣事业，为弘扬民族文化作出贡献，将蜀锦蜀绣艺术品引领进现代人的生活，帮助人们提高艺术修养，加深对中华民族传统文化的理解。<br />

    　　您所遇到的湘绣、蜀绣问题,我们的客户服务部都会在24小时内给予满意答复。
                    </p>

</div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div><!--页脚开始-->

</body>

<% @sideabouts.each do |sideabout| %>
<!-- 关于澳昇开始 -->
<div class="Cons">公司简介</div>
<div class="us">
    <td><%= sideabout.about.html_safe %></td>
</div>

<div class="Cons">企业文化</div>
<div class="us">
    <td><%= sideabout.culture.html_safe %></td>
</div>


<div class="Cons">荣誉资质</div>
<div class="us">
    <td><%= sideabout.qualification.html_safe %></td>
</div>


<div class="Cons">环保理念</div>
<div class="us">
    <td><%= sideabout.concept.html_safe %></td>
</div>



<div class="Cons">总经理致辞</div>
<div class="us">
    <td><%= sideabout.speech.html_safe %></td>
</div>
<!-- 关于澳昇结束 -->
<%end%>

<%=render 'footer'%>